doctype

html
  head
    meta(charset='UTF-8')
    title = title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='/write.css')
  body
    .main_header
      .title
        a(href='/') LimT
      .main_gnb
        if user && user.id
          user-name="[ '안녕하세요"+ " "+ user.nick+ ""+ "님' ]"
          a(href='/auth/logout') 로그아웃
        else
          a(href='/login') 로그인
          a(href='/join') 회원가입
    .top_menu_bar
      .top_menu
        .top_menu_1
          a(href='/') 게시판
        .top_menu_2
          a(href='/') 메뉴2
        .top_menu_3
          a(href='/') 메뉴3
        .top_menu_4
          a(href='/') 메뉴4
        .top_menu_5
          a(href='/') 메뉴5
    .section
      .container
        .write_container
          form#write-form(action='/post' method = 'post')
            .write_container_title
              th
                input#title(type='text' name='title' placeholder='제목을 입력해주세요')
            th
              textarea#content(name='content' placeholder='500자 내로 글을 써주세요')
            div(class= 'btn-class')
              button#write_btn(type='submit') 글쓰기